@import "../../../variables";

.content {
  flex: 1;
  background-color: #f5f6fa;
  min-height: calc(100vh - 140px);

  .content-container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 2rem;

    @media (max-width: $mobile) {
      padding: 1rem;
    }
  }
}
